.cl {
  text-align: center;
  margin: 100px auto;
  color: white;

}
.div {
  margin-left: 80px;
}
.im {
  width: 300px;
  height: 200px;
}
img.im {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
img.im:hover {
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
figure {
  padding: 10px;
  display: inline-block;
  width: 300px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}


@media all and (max-width: 600px) {
  .div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
  }
  .im {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
}